In [58]:
#Importar las librerías
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlite3

In [52]:
# Hacemos la petición a la página y a BeautifulSoup
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [55]:
# Extraemos los datos de los perfiles
profiles = soup.select('.Countries')

rows = table.find_all('tr')[1:]  # Ignorar la primera fila (encabezados)

# Crear listas para almacenar los datos
data = []
for row in rows:
    cols = row.find_all('td')
    if len(cols) >= 3:  # Asegúrate de que hay suficientes columnas
        country = cols[0].get_text(strip=True)
        country_name = cols[1].get_text(strip=True)
        country_info = cols[2].get_text(strip=True)
        data.append([country, country_name, country_info])

# Crear un DataFrame con los datos extraídos
df = pd.DataFrame(data, columns=['Country', 'Country_name', 'Country_info'])

# Mostrar el DataFrame
print(df)

# Crear base de datos
conn = sqlite3.connect('countries.db')
cursor = conn.cursor()

    Country        Country_name            Country_info
0       MMM                  3M             Industrials
1       AOS         A. O. Smith             Industrials
2       ABT              Abbott             Health Care
3      ABBV              AbbVie             Health Care
4       ACN           Accenture  Information Technology
..      ...                 ...                     ...
498     XYL          Xylem Inc.             Industrials
499     YUM         Yum! Brands  Consumer Discretionary
500    ZBRA  Zebra Technologies  Information Technology
501     ZBH       Zimmer Biomet             Health Care
502     ZTS              Zoetis             Health Care

[503 rows x 3 columns]

In [57]:
# Crear base de datos
conn = sqlite3.connect('Countries.db')
cursor = conn.cursor()

# Creamos la tabla
cursor.execute('''
CREATE TABLE IF NOT EXISTS Countries(
    Country TEXT,
    Country_name TEXT,
    Country_info TEXT
)''')

# Insertamos los datos del DataFrame en la tabla
df.to_sql('Countries', conn, if_exists='replace', index=False)

# Hacemos la consulta a la base de datos para poder visualizar
df_from_db = pd.read_sql_query('SELECT * FROM Countries', conn)

# Verificamos el resultado
print(df_from_db)

# Cerramos la conexión
conn.close()

    Country        Country_name            Country_info
0       MMM                  3M             Industrials
1       AOS         A. O. Smith             Industrials
2       ABT              Abbott             Health Care
3      ABBV              AbbVie             Health Care
4       ACN           Accenture  Information Technology
..      ...                 ...                     ...
498     XYL          Xylem Inc.             Industrials
499     YUM         Yum! Brands  Consumer Discretionary
500    ZBRA  Zebra Technologies  Information Technology
501     ZBH       Zimmer Biomet             Health Care
502     ZTS              Zoetis             Health Care

[503 rows x 3 columns]